# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env
.env.local
.env.*.local

# Base de datos
instance/
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
build/
dist/

# Cache y logs
*.log
.pytest_cache/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db